body {
    margin: 0;
    padding: 0;
    background-color: #b0d5e8;
    background-image: url(../images/Background.png);
    background-attachment: fixed;
    background-position: bottom center;
    background-size: 55%;
    background-repeat: no-repeat;
}

.banner {
    margin: 0;
    padding: 0;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.9);
}

.logo {
    position: fixed;
    left: 25px;
    width: 210px;
    height: 90px;
}

.loginButton {
    text-align: center;
    position: fixed;
    top: 9px;
    right: 335px;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    border-width: 6px;
    border-color: #0071e2;
    color: white;
    font-size: 50px;
    width: 250px;
}

.loginButton:hover {
    border-color: #0071e2e4;
    color: #FFFFFF;
    opacity: 50%;
}

.registerButton {
    text-align: center;
    position: fixed;
    top: 9px;
    right: 15px;
    font-size: 50px;
    width: 250px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #0071e2;
    border-width: 6px;
    border-color: #0071e2;
    color: white;
}

.registerButton:hover {
    background-color: #0071e2c5;
    color: #FFFFFF;
    opacity: 50%;
}

.loginScreen {
    margin: 8% auto;
    text-align: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
}

.registerScreen {
    margin: 4% auto;
    text-align: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
}

.contactsScreen {
    margin-top: 90px;
    text-align: center;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.buttons {
    margin-bottom: 3%;
    width: 30%;
    color: white;
    font-size: 50px;
    border-color: white;
    background-color: black;
}

.buttons:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}

#firstName {
    font-size: 2vw;
}

#lastName {
    font-size: 2vw;
}

#loginName {
    font-size: 2vw;
}

#loginPassword {
    font-size: 2vw;
}

#phone{
    font-size: 2vw;
}

#email{
    font-size: 2vw;
}

#searchContact {
    font-size: 2vw;
}

input[type="text"],
input[type="password"] {
    border-radius: 25px;
    text-align: center;
    width: 35%;
    margin-bottom: 3%;
    font-family: 'Ubuntu', sans-serif;
}

#title {
    display: inline-block;
    font-size: 92px;
    font-weight: bolder;
    width: 90%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

#response {
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 3%;
    width: 90%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ff0008;
}

#greeting {
    position: fixed;
    margin-left: 35px;
    margin-top: 15px;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.logoutButton {
    text-align: center;
    position: fixed;
    top: 9px;
    right: 15px;
    font-size: 50px;
    width: 250px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #e24400;
    border-width: 6px;
    border-color: #e24400;
    color: white;
}

.logoutButton:hover {
    background-color: #e24400ca;
    color: #FFFFFF;
    opacity: 50%;
}