body 
{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: radial-gradient(#529ED4, navy)
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    font-size: 8vh;
    border-radius: 35px;
    width: 35%;
    margin-left: 32.5%;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}

.buttons:hover {
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#firstName {
    font-size: 30px;
}

#lastName {
    font-size: 30px;
}

#loginName {
    font-size: 30px;
}

#loginPassword {
    font-size: 30px;
}

input[type="text"],
input[type="password"] {
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#loginResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton {
    width: 20%;
    margin-left: 40%;
}

select {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}